/*Hero section styles*/

.hero-section {
    background-image: url(../HTML-CSS/image/background/fries-hero-bg.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-section > .top-heading {
    padding: 1px 20px;
    background-color: #11122b;
    color: #cdcdcd;
    width: 290px;
    border-radius: 2px;
}

.hero-section > .bottom-heading {
    background-color: #cea135;
    color: #11122b;
    padding: 1px 20px;
    width: 107px;
    margin-top: 15px;
    border-radius: 2px;

}

/*Features section styles */

.features-section {
    height: 400px;
    background-image: url(../HTML-CSS/image/background/fries-multiply-bg.jpg);
    background-color: #cea135;
    border-top: 10px solid white;
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content:space-between;

}

.features-section > .columns-wrapper > .column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column:hover {
    border-bottom: 5px solid #11122b;
}

.features-section > .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2) {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1.5s;
}

.features-section > .columns-wrapper > .column :nth-child(2):hover {
    letter-spacing: 1px;
}

.features-section > .columns-wrapper > .column :nth-child(3) {
    letter-spacing: 2px;
}

/*Footer style*/

.footer-wrapper {
    background-color: #11122b;
    height: 270px;
    color: #cdcdcd;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-top: -4px;
}

.footer-wrapper > .footer-image {
    display: flex;
    justify-content: center;
   
}

.footer-wrapper > .footer-image > img {
    height: 100px;
    filter: invert(0%) brightness(50%);
}

.footer-wrapper > .atention-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer-wrapper > .atention-section > .phone {
    letter-spacing: .2em;
    font-size: .9em;
    margin-left: -10px;
    color: #858585;
}

.footer-wrapper > .atention-section > .hours {
    font-size: .7em;
    color: #cea153;
    margin-left: 15px;
    letter-spacing: .1em;
}

.links-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.links-section > .nav-link a {
    color: #858585;
    text-decoration: none;
    font-size: .9em;
    padding: 30px;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks i {
    margin: 50px 30px 15px 20px;
    height: 20px;
   color:#858585
}

.copyright-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6em;
    color: #858585;
    margin: -4px;
}