/*Common nav styles*/

.navegator-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
 /*Flexbox container*/   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    font-family: 'Ubuntu Condensed', sans-serif;

}

/*left-column*/
.navegator-wrapper > .left-column {
    display: flex;
    align-items: center;
   
}

.navegator-wrapper > .left-column > .icon {
    margin-right: 15px;
}

.navegator-wrapper > .left-column > .icon i {
    font-size: 2em;
}

.navegator-wrapper > .left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

/*.navegator-wrapper > .left-column > .contact-hours-wrapper > .phone {
    font-family: 'Ubuntu Condensed', sans-serif;
}*/
.navegator-wrapper > .left-column > .contact-hours-wrapper > .hours {
    font-size: .8em; 
    color: #858585;
}

/*center-column*/
.navegator-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}

.links-wrapper > .nav-link a {
    color: #cbcbcb;
    text-decoration: none;
    transition: .5s;
}

.links-wrapper > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}

.navegator-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.navegator-wrapper > .center-column > .banner-image img {
    height: 100%;
    width: 216px;
}

/*right-column*/
.navegator-wrapper > .right-column {
    display: flex;
    align-items: center;
}
.navegator-wrapper > .right-column > .address-wrapper {
    text-align: right;
}

.navegator-wrapper > .right-column > .address-wrapper a {
    color: #858585;
    transition: .5s;
    text-decoration: none;
    font-size: .9em;
}

.navegator-wrapper > .right-column > .address-wrapper a:hover {
    color: #cea135;
}

.navegator-wrapper > .right-column > .pin-icon {
    margin-left: 15px;
    font-size: 2em;
}
.navegator-wrapper > .right-column > .pin-icon a {
    color: #cbcbcb;
    transition: .5s;
}

.navegator-wrapper > .right-column > .pin-icon a:hover {
    color: #cea135;
}

